*{margin: 0 ; padding: 0; }
li{list-style: none;}
a{color: #000000 ; text-decoration: none;}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* header시작 */
header{
    width: 100%;
    height: 125px;
    background-color: #ffffff;
}

nav{
    width: 1200px;
    margin: 0 auto;
    font-family: 'Pretendard-Regular';
}

.nav-gnb{
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.nav-logo{
    padding-left: 80px;
}
.nav-gnb-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-gnb-menu li{
    margin-left: 100px;
}

.nav-gnb-menu li a{
    font-size: 21px;
    font-weight: 600;
    position: relative;
}

.nav-gnb-menu li a::after{
    content: '';
    display: block;
    background-color: green;
    height: 2px;
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: all 0.5s;
}

.nav-gnb-menu li a:hover::after{
    width: 100%;
}
/* header끝 */

/* banner시작 */
.banner{
    width: 100%;
    height: 542px;
    /* background-color: rgb(94, 94, 94); */
    background-image: url("../img/배경\ 1920.jpg");
    background-size: cover;
}

.wrap1{
    background-image: url("../img/강아지1200676.jpg");
background-repeat: no-repeat;
background-position: center;
margin: 0 auto;
width: 1200px;
height: 542px;
position: relative;}

.text_area{
    position: absolute;
    top: 30%;
    left: 6%;}

    .text_area li:nth-child(1){
        font-family: 'Pretendard-Regular';
        color: #ffffff;
        font-weight: 800;
        font-size: 40px;
        margin-bottom: 5px;
    }

    .text_area li:nth-child(2){
        font-family: 'Pretendard-Regular';
        color: #ffffff;
        font-weight: 800;
        font-size: 40px;
        margin-bottom: 40px;
    }


    .text_area li:nth-child(3){
        font-family: 'Pretendard-Regular';
        color: #ffffff;
        font-size: 28px;
        font-weight: 300;
    }

    .text_area li:nth-child(4){
        font-family: 'Pretendard-Regular';
        color: #ffffff;
        font-size: 28px;
        font-weight: 300;
        margin: 5px;
    }
    /* banner끝 */

    /* con시작 */
    .con{
        width: 100%;
        height: 650px;
        background-color:#faf3e7;
        position: relative;
    }
    
    .묶는거{
        position: relative;
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        font-family: 'Pretendard-Regular';
    }
    
    .text{
        position: absolute;
        top:50%;
        left:32%;
        transform: translate(-50%,-50%);
    
    }
    
    .text li:nth-child(1){
        border: 1px solid #36723f;
        display: inline-block;
        padding: 8px 17px;
        font-size: 20px;
        border-radius: 50px;
        color: #36723f;
        font-weight: 600;
    }
    
    
    .text li:nth-child(2){
    font-size: 46px;
    color: #36723f;
    margin-top: 44px;
    font-weight: 500;
    }
    
    
    .text span{
        font-weight:900;
    }
    
    
    .text li:nth-child(3){
        font-size: 22px;
        color: #222222;
        font-weight: 500;
        margin-top: 30px;
    }
    
    .text li:nth-child(4){
        font-size: 22px;
        color: #222222;
        font-weight: 500;
        margin-top: 43px;
    }
    
    .사진{
        position: absolute;
        top: 50%;
        left: 72%;
        border-radius: 50%;
        transform: translate(-50%,-50%);
    }
    
    
    .네모{
        width: 398px;
        height: 398px;
        border: 1px red;
        overflow: hidden;
        border-radius: 18px;}
        /* con끝 */


        /* 띠배너시작 */
        .banner2{
            width: 100%;
            height: 230px;
            background-image: url("../img/띠배너.jpg");
            position: relative;
        }
        
        .banner2-text{
            width: 635px;
            height: 100px;
            position: absolute;
            font-size: 34px;
            font-weight: 500;
            color: #fff;
            text-align: center;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
        /* 띠배너끝 */


        /* ctr시작 */
        section{
            width: 1200px;
            margin: 0 auto;
            margin-top: 50px;
            }
        
            .둥근네모{
                font-size: 17pt;
                color: 36723f;
                padding: 3px 10px;
                border: 1px solid #36723f;
                width: 242px;
                height: 40px;
                border-radius: 18px;
                font-weight: 500;
                margin-bottom: 30px;
                text-align: center;
                color: #36723f;
    
            }
    
        .wrap{
            display: flex;
            justify-content: space-between;
        }
        .ctr{
            width: 380px;
            background-color: #fff;
            border-radius: 18px;
            box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
            overflow: hidden;
        }
        
        .ctr-img{
            width: 380px;
        }
        
        .ctr-img img{
            width: 380px;
            display: block;
        }
        
        .ctr-txt li{
            padding: 21px 50px;
            font-size: 22px;
            text-align: center;
        }
        /* ctr끝 */

        /* ctr2시작 */
        .text-1{
            display: flex;
            width: 1200px;
            margin: 0 auto;
            margin-top: 104px;
        
        }
        
        .좌측네모{
            font-size: 24px;
            color: #36723f;
            display: inline-block;
            border: 1px solid #36723f;
            border-radius: 18px;
            padding: 7px  10px;
            margin-bottom: 44px;
        }
        
        .text-1 a{
            font-size: 20px;
            color: #fff;
            display: inline-block;
            border: 1px solid #36723f;
            border-radius: 18px;
            padding: 7px 10px;
            background-color: #36723f;
            margin-left: 660px;
            margin-bottom: 44px;
        }
     
        .text-1 a:hover{
            background-color: #fff;
            color: #000;
        }
        


        .묶을거야{
            display: flex;
            width: 1200px;
            margin: 0 auto;
            margin-top: 104px;
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        
        .items{
            display: flex;
            align-items: center;
        }
        
        .item{
            overflow: hidden;
            width: 285px;
            height: 285px;
            border: 1px solid #eeeeee;
            border-radius: 18px;
            position: relative;
            margin: 10px;}
        
        .caption{
            text-align: center;
            width: 285px;
            height: 285px;
            position: absolute;
            top: 0;
            top: 0;
            background-color: rgb(0,0,0,0.7) ;
            color: #fff;
            padding-top: 40px;
            padding: 0px;
            opacity: 0;
            box-sizing: border-box;
            transition: all 0.5s;
            padding: 60px;
        }
        
        .caption a{
            display: inline-block;
            color: #fff;
            background-color: #36723f;
            padding: 7px 12px;
            border-radius: 3px;
            margin-top: 20px;
        }
        
        .item:hover .caption{
            opacity: 1;
        }
        
        .caption a:hover{
            background-color: #fff;
            color: #000;
        }
        
    
        /* ctr2끝 */
        
        /* 띠배너3번째시작 */
.banner3{
    width: 100%;
    height: 400px;
    background-image: url("../img/멍멍배너.jpg");
    background-repeat:no-repeat ;
    position: relative;
}

.banner3-text{
    width: 636px;
    height: 300px;
    position: absolute;
    color: #fff;
    text-align: center;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
}

.banner3-text li:nth-child(1){
    font-family: 'Pretendard-Regular';
    color: #ffffff;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 40px;
}

.banner3-text li:nth-child(2){
    font-family: 'Pretendard-Regular';
    color: #ffffff;
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 40px;
}

.banner3-text a{
    font-family: 'Pretendard-Regular';
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 40px;
    display: inline-block;
    background-color: green;
    border-radius: 40px;
   padding: 12px 37px;
}

.banner3-text a:hover{
    background-color: #fff;
    color: #000;
}
/* 띠배너3번째끝 */